.react-datagrid
    &.z-style-alternate
        .react-datagrid__row--odd.react-datagrid__row
            background $datagrid-row-odd-background

    .react-datagrid__column__content
        overflow visible

    &.z-cell-ellipsis
        .react-datagrid__row .react-datagrid__cell .react-datagrid__content
            text-overflow ellipsis
            white-space nowrap
            overflow hidden

    .react-datagrid__row
        &.react-datagrid__row--over
        &.react-datagrid__row--over.react-datagrid__row--odd
            background $datagrid-row-over-background
        &.react-datagrid__row--selected
        &.react-datagrid__row--selected.react-datagrid__row--odd
            background $datagrid-row-selected-background
        .react-datagrid__cell
            datagrid-cell()

    .react-datagrid__group-row
        &.react-datagrid__row--over
        &.react-datagrid__row--over.react-datagrid__row--odd
            background $datagrid-group-row-over-background

    .react-datagrid__group-cell
        flex 1
    .react-datagrid__group-row
        background $datagrid-group-row-background