@import '~react-load-mask/style/index.styl'
@import '~css-utils/index.styl'
@import '~react-virtual-scroller/index.styl'
@import './constants.styl'

.react-datagrid__cell--unselectable
  touch-callout none
  user-select none

.react-datagrid
  &
  & *
    box-sizing border-box

datagrid-cell()
    display flex
    align-items center
    cursor $datagrid-cell-cursor

    .react-datagrid__content
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        padding 0px $datagrid-cell-padding
        


@import './resize.styl'

.react-datagrid

    .react-datagrid__row
    .react-datagrid__pagination-toolbar
        user-select none

    .react-datagrid__loadMask
        z-index 100
    .react-datagrid__header__menu__column
        z-index 100

    flex-flow column
    align-items stretch

    & > .react-datagrid__inner
        flex 1
        overflow hidden
        position relative
        display flex
        flex-flow column

        .react-datagrid__wrapper
            display flex
            flex-flow column
            flex 1 1 auto
            overflow hidden

    .react-datagrid__header-wrapper
    .react-datagrid__footer-wrapper
        width 100%

    .react-datagrid__table
        display block
        flex 1
        /** 2 RULES FOR SAFARI VERTICAL SCROLLBAR */
        transform translate3d(0px, 0px, 0px)
        position relative
        z-index 10

    .react-datagrid__header
    .react-datagrid__summary
    .react-datagrid__table .react-datagrid__row
        display flex
        flex-flow row
        z-index 1

    .react-datagrid__mask-wrapper
        bottom 0px
        width 100%
        position absolute
        display none

    &.react-datagrid--loading
        .react-datagrid__mask-wrapper
            display block

.react-datagrid--empty
    .react-datagrid__content-wrapper--fix
        display flex

    .react-datagrid__table-wrapper
        flex-flow column
        justify-content center
        align-items center

    .z-empty-text
        width 100%
        justify-content center
        align-items center
        display flex
        font-style italic
        color gray

@import './header.styl'
@import './contents.styl'
@import './borders.styl'
@import './summary.styl'