.react-datagrid
    .react-datagrid__resize-proxy
        position absolute
        height 100%
        top 0px
        display none
        width 3px

        z-index 1000
        border-left $datagrid-cell-border-width solid darken($datagrid-cell-border-color, 20%)

    &.react-datagrid--columns-resizable
        .react-datagrid__resize-proxy
            display block