.react-datagrid
  .react-datagrid__footer-wrapper
    background $datagrid-summary-row-background

  .react-datagrid__summary
    border-top $datagrid-header-border-width $datagrid-header-border-style $datagrid-header-border-color
    align-items stretch /* for vertical aligning text in header */

    .react-datagrid__cell
      position relative
      .react-datagrid__inner
        display flex

        align-items center
        align-content flex-start
        flex-flow row

        height 100%

      .react-datagrid__content
        text-overflow ellipsis
        white-space nowrap
        overflow hidden

      border-bottom $datagrid-header-border-width $datagrid-header-border-style $datagrid-header-border-color
      &.react-datagrid__cell--last
          border-right $datagrid-header-border-width $datagrid-header-border-style $datagrid-header-border-color

      &:not(.react-datagrid__cell--first)
          border-left $datagrid-header-border-width $datagrid-header-border-style $datagrid-header-border-color